.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-pane h3 {
    color: #00BCD4;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
}

.tab-pane h3:after {
    display: block;
    position: absolute;
    left: 0;
    height: 3px;
    width: 50px;
    content: '';
    background-color: #00CBE7;
    bottom: -15px;
}

.tab-pane p {
    word-break: break-all;
}

.tab-flex {
    display: flex;
    flex-wrap: wrap;
}

.tab-item {
    width: calc((100% - 40px) / 3);
    margin: 0 0 40px;
    text-align: left;
}

.tab-item:nth-child(3n-1) {
    margin-left: 20px;
    margin-right: 20px;
}

#dent-gallery .orion-simple-gallery.grid .image-w {
    margin-bottom: 0;
}

#dent-gallery .wrapper > div {
    padding-right: 0;
    padding-left: 0;
}

h6 small.font-3 {
    font-size: 20px;
}

#nazel--bid .name input, #nazel--bid .phone input {
    margin-bottom: 15px;
}

.nazel--text {
    margin-bottom: 15px;
    color: lightgrey;
}

#nazel-url {
    text-decoration: lightgrey underline solid;
    color: lightgrey;
}

input.nazel--btn {
    margin-bottom: 0;
}

#nazel--html div.custom-html-widget {
    text-align: center;
}

.team-title .departments, .title-wrap .social-links {
    display: none;
}

.lead li {
    font-size: 18px;
}

.main-footer .row #orion_icon_w-2 {
    text-align: center;
}

.site-footer div.main-footer {
    padding-top: 40px;
    padding-bottom: 30px;
}

#dent-gallery--lic .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wp-video {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.widget_orion_features_w .feature-item-wrap .item-title {
    font-size: 28px;
    line-height: normal;
}

.widget_orion_features_w .feature-item.text-center .feature-item-wrap .footer p {
    font-size: 26px;
}

.nav-tabs > li.active a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #00CBE7;
    color: white;
}

.nav-tabs > li > a {
    font-size: 17px;
}

.tab-head {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

span.tab-icon {
    font-size: 50px;
    color: #00CBE7;
    margin-right: 15px;
}

.tab-head:after {
    display: block;
    height: 3px;
    width: 50%;
    content: '';
    background-color: #00CBE7;
    margin-left: auto;
}

#nazel-team .wrapper {
    display: flex;
    justify-content: center;
    align-items: normal;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
    .form-wrap {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    #dent-gallery--lic .wrapper {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    #nazel--head {
        padding-top: 20px;
    }

    .tab-head {
        font-size: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    span.tab-icon {
        font-size: 30px;
        margin-right: 10px;
    }

    .tab-item h3 {
        font-size: 20px;
        line-height: normal;
    }

    .nav-tabs > li > a {
        font-size: 8px;
    }
}

@media only screen and (max-width: 767px) {
    .form-wrap {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .tab-item {
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
    }

    .tab-item:nth-child(3n-1) {
        margin: 0;
    }

    #logos-cell, #logos-slider {
        display: none;
    }

    .form-wrap {
        padding-top: 20px;
    }

    #dent-gallery--lic .wrapper {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .tab-head {
        font-size: 23px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .tab-head:after {
        content: none;
    }

    span.tab-icon {
        font-size: 30px;
        margin-right: 10px;
    }

    .tab-item h3 {
        font-size: 20px;
        line-height: normal;
    }

    #nazel-team .wrapper {
        flex-direction: column;
    }

}
