.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-pane h3 {
    color: #00BCD4;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
}

.tab-pane h3:after {
    display: block;
    position: absolute;
    left: 0;
    height: 3px;
    width: 50px;
    content: '';
    background-color: #00CBE7;
    bottom: -15px;
}

.tab-pane p {
    word-break: break-all;
}

.tab-flex {
    display: flex;
    flex-wrap: wrap;
}

.tab-item {
    width: calc((100% - 40px) / 3);
    margin: 0 0 40px;
    text-align: left;
}

.tab-item:nth-child(3n-1) {
    margin-left: 20px;
    margin-right: 20px;
}

#dent-gallery .orion-simple-gallery.grid .image-w{
    margin-bottom: 0;
}

#dent-gallery .wrapper > div{
    padding-right: 0;
    padding-left: 0;
}

h6 small.font-3{
    font-size: 20px;
}

